@import "../scss/typography";
@import "../scss/variable";

.biodata-btn {
  text-decoration: none;
  border-radius: 10px;
  background-color: #FFDC79;
}
.bdesh-btn {
  text-decoration: none;
  border-radius: 10px;
  background-color: #ffffff;
}
