@import "../scss/typography";
@import "../scss/variable";

#country-category {
  .biodata-btn {
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffdc79;
  }
  .bdesh-btn {
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
  }
}
