@import "../scss/typography";
@import "../scss/variable";

.search-btn {
  margin-top: 4px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600px;
  background-color: $btn-color;
  border: 0;
  border-radius: 10px;
}
.search-btn:hover {
  margin-top: 4px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600px;
  background-color: $secondary-color;
  border: 0;
  border-radius: 10px;
}
