@import "../scss/typography";
@import "../scss/variable";

#hero {
  background: linear-gradient(rgba(47, 129, 222, 1), rgba(47, 129, 222, 0.9)),
    url(../assets//images/backgroundImages/banner-bg-l.png);
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  @media (min-width: 1200px) {
    .container {
      max-width: 1180px;
    }
  }
}
