@import "../scss/variable";

.header-menu {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: $title-font-color;
  padding: 8px 0;
}
.header-menu-special {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  color: $title-font-color;
  background-color: #D4D8D9;
  margin: 0;
  padding: 8px 11px ;
}
.navbar-menu {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #337ab7;
  margin: 0;
}
.navbar-menu-alt {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $title-font-color;
  margin: 0;
}
.navbar-menu:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $primary-color;
  margin: 0;
}
.navbar-menu-alt:hover {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $primary-color;
  margin: 0;
}