@import "./font";
// color palate
$primary-color: #1565C0;
$secondary-color: rgba(217, 224, 236, 0.2);

// font color
$title-font-color: #000000;
$body-font-color: #565656;

$font-family: "OpenSans-Regular";