@import "./font";
$primary-color: #1565c0;
$secondary-color: #f9a825;

$btn-color: #fbc02d;

$title-font-color: #000000;
$body-font-color: #ffffff;

$font-family: 'Open Sans', sans-serif;
$bangla-font-family: 'Noto Sans Bengali', sans-serif;
